:root {
  --color: #000;
  --backgroundColor: rgba(255, 255, 255, 0.8);
}
body {
  margin: 8px;
  background-color: var(--backgroundColor);
  color: var(--color);
}
h3 {
  margin: 0;
}
.button-container {
  text-align: right;
}
#minButton,
#restoreButton,
#closeButton {
  border-radius: 100%;
  height: 18px;
  width: 18px;
  background-image: url("../images/buttons.png");
  background-size: 60px;
  background-position-y: -0.4px;
  cursor: default;
}
#restoreButton {
  background-position-x: -43.5px;
}
#minButton {
  background-position-x: -22px;
}
.button-container:hover #restoreButton,
.button-container:hover #minButton,
.button-container:hover #closeButton {
  background-position-y: -20.6px;
}
hr {
  margin: 0.5em 0;
}
#panX-header {
  margin: -8px -8px auto;
  padding: 8px 8px 0;
}
/* Engine ends*/

.btn-light {
  max-width: 100%;
  border: 2px solid rgba(100, 100, 100, 0.5) !important;
}
#externalLinks .btn-light:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
.panX,
.accordion-button {
  font-weight: 500;
}
a {
  text-decoration: none;
}
.accordion-item,
.accordion-button {
  background-color: transparent;
}
.accordion-button:focus {
  box-shadow: none;
}
.copyX {
  background-image: url(../images/copy.svg);
  display: inherit;
  width: 16px;
  margin-right: 6px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.25s;
}
.linX:hover {
  text-decoration: underline;
}
.c1 {
  background-color: rgba(244, 239, 236, 0.25);
}
.c2 {
  background-color: rgba(244, 224, 233, 0.25);
}
.c3 {
  background-color: rgba(244, 217, 208, 0.25);
}
.c4 {
  background-color: rgba(244, 227, 201, 0.25);
}
.c5 {
  background-color: rgba(181, 220, 225, 0.25);
}
.c6 {
  background-color: rgba(214, 205, 200, 0.25);
}
.c7 {
  background-color: rgba(207, 218, 240, 0.25);
}
